<!DOCTYPE html>
<html>
<head>
    <title>Webcam Face Detection</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
</head>
<body>
    <div class="center">
        <div>
            <h1 class="text-center" style="padding-bottom: 30px;">Webcam Face Detection</h1>

            <div id="video_container" style="display: none;">
                <img id="video_feed_img" src="{{ url_for('video_feed') }}">
            </div>

            <div class="buttons">
                <button class="btn btn-primary" onclick="startVideo()">Start Video Feed</button>
            <button class="btn btn-danger" onclick="endVideo()">End Video Feed</button>
            </div>
            
        </div>
    </div>

    <!-- Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>


    <script>
        
</body>
</html>
